:root {
    --text: #dae5fb;
    --text-light: #dae5fb9f;
    --background: #040e20;
    --primary: #89b1f1;
    --secondary: #160f90;
    --accent: #673aea;
    --card-bg: #0c1627;
  }
  

.card-commands{
    background-color: var(--background);
    color: var(--text);
    border-radius: 0.5rem;
    margin-top: 0.5rem;
  }

  .commandfilter {
    background-color: transparent;
    color: var(--text); 
    font-size: 16px;
    margin-top: 0.3rem;
    border: none;
    outline: none;
}

.commandfilter option {
    background-color: var(--card-bg); 
    color: var(--text);
}


.post-command-input{
    border-radius: 0.5rem;
}

.post-command-input:focus{
    outline: none;
    border: none;
}


.text-too-long {
    color: #DC3545;
    font-weight: 700;
}
