/* Profile.css */
:root {
    --text: #dae5fb;
    --text-light: #dae5fb9f;
    --background: #040e20;
    --primary: #89b1f1;
    --secondary: #160f90;
    --accent: #673aea;
    --card-bg: #0c1627;
  }

.tab {
    cursor: pointer;
    color: var(--text-light);
}

.tab.active {
    color: var(--accent);
}

.nav-subtabs {
    color: var(--text-light);
    border: 1px solid var(--text);
    border-radius: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
}

.nav-subtabs.active {
    color: var(--accent);
    border: 1px solid var(--text);
    border-radius: 0.5rem;
}